body { 
    margin: 0;
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: #373738;
    padding: 15px;
    display: flex;
    align-items: stretch;
}

nav{
    width: 73%;
    padding: 1%;
    display: flex;
    align-items: stretch;
}

.inline-block{
    display: inline-block;
    padding: 5px;    
}
    
div.logo{
    width: 23%;
    padding: 1%;
}



ul{
    width: 50%;
    margin-left: auto;
}

.logo{
    text-align: center;
}

.heroImg{
    background-color: #EBEBEB;
    height: 600px;
    padding: 100px 15px;
}

.content{
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    display: block;
    background-color: #FFFFFF;
    text-align: center;
    
}

button {
    padding: 15px;
    background-color: #373738;
    color: white;
    font-size: 15px;
    border-radius: 4px;
}


footer{
    background-color: #373738;
    padding: 5px;
    text-align: center;
}

